# 1). Install pydroid app from google play store

# 2). Open pydroid app on android phone and create new python file on pydroid app

# 3). Copy the weatherApp.py file data in your python file of pydroid app in android phone

# 4). Click on Run button

# 5). Now in few secounds the weather app window will be open

# 6). Enter details

# 7). Click on weather button

# 8). After few secounds you can see weather information of the given city
